.login {
    .header {
        background-color: #f6f5f6;
        margin-bottom: 30px;
    }
    .toreg{
        display: flex;
        width: 100%;
        justify-content: center;
        color: #999;
    }
}